@import url(https://fonts.googleapis.com/css?family=Oswald:400);
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/log-off.css');

.body{
  background-color: black;
}

.navigation {
  width: 100%;
  background-color: transparent;
}

i {
  width: 30px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.button {
	text-decoration: none;
	float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 40px;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 120px;
  color: red;     
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}

.uploadPercentage{
  position:fixed;
  left:50%;
}

.table.table-bordered{
  text-align: center;
}

#orders{
  border-radius: 4px;
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 12px;
  margin: 15px;
}